@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<img id="hreinn" src="~/Images/imgtemp/hreinnkjanu.jpg" alt="IMG NOT FOUND" />
<img id="inga" src="~/Images/imgtemp/ingalinga.jpg" alt="IMG NOT FOUND" />
<img id="kristinn" src="~/Images/imgtemp/kristinn.jpg" alt="IMG NOT FOUND" />
<img id="sonja" src="~/Images/imgtemp/Sonja.jpg" alt="IMG NOT FOUND" />
<img id="steinar" src="~/Images/imgtemp/steinar.jpg" alt="IMG NOT FOUND" />
<img id="valgerdur" src="~/Images/imgtemp/valla.jpg" alt="IMG NOT FOUND" />
<img id="loa" src="~/Images/imgtemp/loa.jpg" alt="IMG NOT FOUND" />

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->