@{
    ViewBag.Title = "Request";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<!--<p>Use this area to provide additional information.</p>-->
<form>
    <button>Senda inn beiðni</button> <br />
    <br />
    <input type="search" name="search" value="Leita" size="100" />
    <br />
    <input type="radio" id="all" name="type" value="all" />
    <label for="all">Allt</label>
    <input type="radio" id="mov" name="type" value="mov" />
    <label for="mov">Kvikmynd</label>
    <input type="radio" id="tv" name="type" value="tv" />
    <label for="tv">Þáttur</label>
    <br />
    <input type="checkbox" name="genre" value="action" /> Hasar
    <input type="checkbox" name="genre" value="comedy" /> Gaman
    <input type="checkbox" name="genre" value="cartoon" /> Barnaefni <br />
    <input type="checkbox" name="genre" value="drama" /> Drama
    <input type="checkbox" name="genre" value="thriller" /> Hryllir
    <input type="checkbox" name="genre" value="romance" /> Rómantík <br />
</form>
