@{
    ViewBag.Title = "Translate";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<form>
    <input type="radio" id="mov" name="type" value="mov" />
    <label for="mov">Kvikmynd</label>
    <input type="radio" id="tv" name="type" value="tv" />
    <label for="tv">Þáttur</label>
    <br />
    <input type="checkbox" name="genre" value="action" /> Hasar
    <input type="checkbox" name="genre" value="comedy" /> Gaman
    <input type="checkbox" name="genre" value="cartoon" /> Barnaefni <br />
    <input type="checkbox" name="genre" value="drama" /> Drama
    <input type="checkbox" name="genre" value="thriller" /> Hryllir
    <input type="checkbox" name="genre" value="romance" /> Rómantík <br />

    <label>Titill: </label><input type="text" /> <br />
    <label>IMDb (valmöguleiki): </label><input type="text" /><br />
    <input type="radio" id="ice" name="lang" value="ice" />
    <label for="ice">Íslenska</label>
    <input type="radio" id="eng" name="lang" value="eng" />
    <label for="eng">Enska</label>
    <input type="radio" id="other" name="lang" value="other" />
    <select>
        <option value="sel" selected="selected">Annað</option>
        <option value="dan">Danska</option>
        <option value="fre">Franska</option>
        <option value="ger">Þýska</option>
        <option value="spa">Spænska</option>
    </select>
    <br />
    <button>Skrá</button>
    <button>Hætta við</button>
</form>