

<label>Titill: </label><input type="text" /> <br />
<label>IMDb (valmöguleiki): </label><input type="text" /><br />
<input type="radio" id="ice" name="lang" value="ice" />
<label for="ice">Íslenska</label>
<input type="radio" id="eng" name="lang" value="eng" />
<label for="eng">Enska</label>
<input type="radio" id="other" name="lang" value="other" />
<select>
    <option value="sel" selected="selected">Annað</option>
    <option value="dan">Danska</option>
    <option value="fre">Franska</option>
    <option value="spa">Spænska</option>
    <option value="ger">Þýska</option>
</select>