
@{
    ViewBag.Title = "ReqRecieved";
}

<h2>Beiðni móttekin</h2>

<p>Beiðni þín hefur verið móttekin</p>
<p>
    @Html.ActionLink("Fara tilbaka á forsíðu", "Index")
</p>
<p>
    @Html.ActionLink("Fara tilbaka á beiðni síðu", "Requesting")
</p>