
@{
    ViewBag.Title = "TransRecieved";
}

<h2>Þýðing móttekin</h2>

<p>Þýðing hefur verið móttekin. Takk fyrir framlagið!</p>
<p>
    @Html.ActionLink("Fara tilbaka á forsíðu", "Index")
</p>
<p>
    @Html.ActionLink("Fara tilbaka á þýða síðu", "Translate")
</p>