/*Upphafssida*/
body {
    font-family: 'Calibri';
}

form{
    font-size: 16pt;
    text-align: center;
}

nav{
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.nav navbar-nav{
    margin-left: 20%;
}

/*Beiðnir*/
.trForm{
    margin-bottom: 15pt;
}

#optional{
    text-align: center;
    color: red;
}

input{
    margin: 10px;
}

#subCan{
    margin: 10px;
}

#labIce{
    margin-right: 10px;
}

/*Þýða*/
.reqForm{
    margin-bottom: 15pt;
}

/*Um okkur*/
.resize {
    width: 18%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h2{
   font-weight: bold;
   color: #666666;
   text-align: center;
}

h3{
    font-size: 12pt;
    color: #666666;
}

.about{
    text-align: center;
}

.pic{
    text-align: center;
}

a:link{
    color: #666666;
}

a:hover{
    color: #00FBB3;
}

/*Register*/
.formInput{
    margin-left: 28%;
}

a.new{
    color: #666666;
}

a.new:hover{
    color: #00FBB3;
}

/*Login*/
#loginForm{
     margin-left: 28%;
}

h4{
    text-align:center;
}

.checkbox{
    font-size: 11pt;
}

p{
    font-size: 11pt;
}

/*Footer*/
a{
    color: #666666;
}

footer{
    text-align: right;
}

#footerBanner{
    position: absolute;
    margin-left: -10%; 
    height: 10%;
    width: 100%;
}
/*
#banner{
    background-repeat:repeat-X;
    background-image:url('~/Img/imgtemp/banner.jpg');
    width:10%;
}*/



/*Þetta er líka prufa
    Takkarnir */

.cancel {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ebebeb');
	background-color:#ebebeb;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #00fbb4;
	display:inline-block;
	color:#676795;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.cancel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ebebeb');
	background-color:#ebebeb;
}.cancel:active {
	position:relative;
	top:1px;
}