<link href="~/Content/look.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
}
<h2>Um Okkur</h2>
<h3>@ViewBag.Message</h3>
<div class="pic">
    <img class="resize" id="hreinn" src="~/Img/imgtemp/hreinnkjanu.jpg" alt="Profile mynd Hreinn" />
    <img class="resize" id="inga" src="~/Img/imgtemp/ingalinga.jpg" alt="Profile mynd Ingibjorg" />
    <img class="resize" id="kristinn" src="~/Img/imgtemp/kristinn.jpg" alt="Profile mynd Kristinn" />
    <br />
    <img class="resize" id="sonja" src="~/Img/imgtemp/Sonja.jpg" alt="Profile mynd Sonja" />
    <img class="resize" id="steinar" src="~/Img/imgtemp/steinar.jpg" alt="Profile mynd Steinar" />
    <img class="resize" id="valgerdur" src="~/Img/imgtemp/valla.jpg" alt="Profile mynd Valgerdur" />
    <br />
    <img class="resize" id="loa" src="~/Img/imgtemp/loa.jpg" alt="Profile mynd Loa" />

</div>

<div class="about">
    <strong>Hreinn Rúnarsson</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <strong>Ingibjörg Edda Snorradóttir</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <strong>Kristinn Júlíusson</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <strong>Sonja Jónsdóttir</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <strong>Steinar Þór Árnason</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <strong>Valgerður Rós Morthens</strong>   <a href="mailto:kristinnj13@ru.is">kristinnj13@ru.is</a><br />
    <hr />
    <strong>Lóa Leiðbeinandi :)</strong>   <a href="mailto:kristinnj13@ru.is">loa10@ru.is</a><br />
    <strong>DABS Leiðbeinandi :)</strong>   <a href="mailto:kristinnj13@ru.is">loa10@ru.is</a><br />
    <strong>Patti Leiðbeinandi :)</strong>   <a href="mailto:kristinnj13@ru.is">loa10@ru.is</a><br />
</div>

<div class="teacher">
</div>
