@{
    ViewBag.Title = "Index";
}
<link href="~/Content/upphafssida.css" rel="stylesheet" />
<h3 style="text-align: center">VELKOMINN Á SÍÐUNA OKKAR KNÚS</h3> <!--BREYTA-->
<hr />
<form>
    <h4>Leita að skjátextaþýðingum</h4>
    <input type="radio" id="all" name="type" value="all" />
    <label for="all">Allt</label>
    <input type="radio" id="mov" name="type" value="mov" />
    <label for="mov">Kvikmynd</label>
    <input type="radio" id="tv" name="type" value="tv" />
    <label for="tv">Þáttur</label>
    <br />

    <input type="search" name="search" placeholder=" Leita" size="100"/>
</form>
@Html.Hidden("RedirectTo", Url.Action("Index", "Home"));
<!--
    <img id="line" src="http://oi58.tinypic.com/25jfms0.jpg" style="display: block; margin-left: auto; margin-right: auto" />

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->