<link href="~/Content/look.css" rel="stylesheet" />
<script src="~/Scripts/changeMedia.js"></script>
@{
    ViewBag.Title = "Request";
}
<h2>Beiðnir</h2>
<h3>Skjátexta beiðnir</h3>
<hr />
<div >
    <form id="searchForm">
        <button type='button' onclick="ToggleView('1')">Senda inn beiðni</button>
        <br />
        <br />
        <input type="radio" id="all" name="type" value="all" />
        <label for="all">Allt</label>
        <input type="radio" id="mov" name="type" value="mov" />
        <label for="mov">Kvikmynd</label>
        <input type="radio" id="tv" name="type" value="tv" />
        <label for="tv">Þáttur</label>
        <br />
        <input type="search" name="search" placeholder=" Leita" size="100" />
        <br />
    </form>
</div>
<div>
    <form id="requestForm" style="display: none">
        <h4>Fylltu inn í formið að neðan til að senda inn beiðni</h4>
        <input type="radio" id="mov" name="type" value="mov" checked onclick="TvHide()" />
        <label for="mov">Kvikmynd</label>
        <input type="radio" id="tv" name="type" value="tv" onclick="TvShow()" />
        <label for="tv">Þáttur</label>
        <br />

        <input type="text" placeholder=" Titill"/> <br />
        <input type="text" placeholder=" IMDb - Valmöguleiki"/><br />
        <span class="tvOnly" style="display:none">
            <input type="text" size="7" placeholder=" Sería" />
            <input type="text" size="7" placeholder=" Þáttur" /> <br />
        </span>

        <input type="radio" id="ice" name="lang" value="ice" />
        <label for="ice" id="labIce">Íslenska</label>
        <input type="radio" id="eng" name="lang" value="eng" />
        <label for="eng">Enska</label>
        <br />
        <a href="#" id="subCan" class="cancel">Skrá</a> <!--Þetta er prufa-->
        <a href="#" id="subCan" class="cancel" onclick="ToggleView('2')">Hætta við</a> <!--Þetta er prufa-->
    </form>
</div>
